<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Logs</title>
	</head>
	<body>
		<h1>Edit Logs</h1>
		<form action="/logs/<%= log._id%>?_method=PUT" method="POST">
			Title: <input type="text" name="title" value="<%=log.title%>"/><br />
			Entry: <textarea name="entry">"<%=log.entry%></textarea><br />
			Ship is broken: <input type="checkbox" name="shipIsBroken" <% if(log.shipIsBroken === "on"){ %> checked <%} %>/><br />
			<input type="submit" name="" value="Add Log" />
		</form>
	</body>
	
</html>